@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Kumbh+Sans:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* palette warna      https://colorhunt.co/palette/eeeeee686d76373a40dc5f00     */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}

body{
    background: #686D76;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 800px;
    height: 500px;
    border-radius: 20px;
    background: url(../assets/bg.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
}


h1{
    font-size: 1.5rem;
    font-weight: 500;
    text-shadow: 0 0 2px #EEEEEE, 0 0 4px #EEEEEE ,0 0 8px #EEEEEE;
}
.formlogin, .formregister{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    padding: 20px;
    transition: 0.5s
}
.formlogin{
    position: absolute;
    top: 0;
    left: 0;
}
.formregister{
    position: absolute;
    top: 0;
    right: 0;
    /* display: none; */
}


.formlogininner, .formregisterinner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    transition: 0.5s;
}


input{
    padding: 10px;
    background: #373A4060;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    border: none;
    transition: 0.5s;
    color: #eeeeee;
}
input::placeholder{
    color: #EEEEEE70;
}
.username, .email, .password, .any{
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: 0.5s;
} 
.any .btnlogsub{
    padding: 10px;
    background: #DC5F00;
    border-radius: 5px;
    border: none;
    width: 100%;
    transition: 0.5s;
    cursor: pointer;
}
.any .btnregsub{
    padding: 10px;
    background: #686D7620;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    border: 2px solid #DC5F00;
    width: 100%;
    color: #DC5F00;
    transition: 0.5s;
    cursor: pointer;
}
.any{
    gap: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
label{
    font-size: 1.2rem;
    font-weight: 500;
    transition: 0.5s;
    /* text-shadow: 0 0 2px #EEEEEE, 0 0 4px #EEEEEE ,0 0 8px #EEEEEE; */
    backdrop-filter: blur(10px);
    padding: 5px 0 5px 5px;
    margin: 0 0 -5px 0;
    border-radius: 5px;
}
.any a{
    text-decoration: none;
    transition: 0.5s;
    text-shadow: 0 0 2px #0000ee, 0 0 4px #eeeeee ,0 0 8px #eeeeee;
}






.btn{
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 500px;
    border-radius: 20px;
    position: relative;
}

.btlog, .btreg{
    width: 400px;
    height: 500px;
    background: #373A40;
    z-index: 9;
}
.btlog{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    animation: 0.5s ease btlog;
}
.btreg{
    position: absolute;
    top: 0;
    right: 0;
    animation: 0.5s ease btreg;
}
@keyframes btlog{
    from{
        transform: translateX(400px);
    } to{
        transform: translateX(0);
    }
}
@keyframes btreg{
    from{
        transform: translateX(-400px);
    } to{
        transform: translateX(0);
    }
}

.btlog button, .btreg button{
    padding: 10px;
    width: 40%;
    height: 100%;
    border-radius: 7px;
    border: none;
    background: #DC5F00;
    font-size: 3rem;
    font-weight: 500;
    box-shadow: 0 0 8px #DC5F00, 
    0 0 16px #DC5F00,
    0 0 32px #DC5F00,
    0 0 64px #DC5F00;
    cursor: pointer;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "ROND" 0;
    /* letter-spacing: 5px; */
}



 /*------------------------ Keyframe Javascript */

@keyframes logbtn{
    from{
        transform: translateX(0);
    } to{
        transform: translateX(240px);
    }
}

@keyframes regbtn{
    from{
        transform: translateX(240px);
    } to{
        transform: translateX(0);
    }
}

.logbtnkeyframe{
    animation: 0.5s ease logbtn;
}
.regbtnkeyframe{
    animation: 0.5s ease regbtn;
}

/*------- tab */

@keyframes tab1{
    from{
        transform: translateY(200px);
        display: none;
    } to{
        transform: translateY(0);
        display: block;
    }
}

.tabtransform1{
    animation: tab1 0.5s ease;
}

@keyframes tab2{
    from{
        transform: translateY(0);
        display: block;
    } to{
        transform: translateY(200px);
        display: none;
    }
}

.tabtransform2{
    animation: tab2 0.5s ease;
}